<!DOCTYPE html>
<html>
<head>
        {% block title %}
                <title>home page</title>
        {% endblock title %}
</head>
<body>
        <div>
                <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'companies' %}">Register</a></li>
                        <li><a href="{% url 'lists' %}">List</a></li>
                </ul>
        </div>

        {% block content %}

        {% endblock content %}
</body>
</html>