{% extends 'base.html' %}

{% block content %}
        <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
        </form>
{% endblock content %}