{% extends 'base.html' %}

{% block content %}
        <h1>Clients List</h1>

                <table border="1">
                        <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Time Zone</th>
                                <th>Itens</th>
                                <th>Company</th>
                                <th>Acoount Name</th>
                                <th>Billing Contact</th>
                                <th>Technical Contact</th>
                                <th>Address 1</th>
                                <th>County</th>
                                <th>City</th>
                                <th>Country</th>
                                <th>Post Code</th>
                        </tr>
                {% for name in object_list %}
                        <tr>
                                <td>{{ name.firstname }}</td>
                                <td>{{ name.lastname }}</td>
                                <td>{{ name.email}}</td>
                                <td>{{ name.phone }}</td>
                                <td>{{ name.timezone }}</td>
                                <td>{{ name.itens }}</td>
                                <td>{{ name.company }}</td>
                                <td>{{ name.account_name }}</td>
                                <td>{{ name.billing_contact }}</td>
                                <td>{{ name.tech_contact }}</td>
                                <td>{{ name.address_one }}</td>
                                <td>{{ name.county }}</td>
                                <td>{{ name.city }}</td>
                                <td>{{ name.country }}</td>
                                <td>{{ name.postcode }}</td>
                        </tr>
                {% empty %}
                        <li>No itens on the list</li>
                {% endfor %}
                </table>
{% endblock content %}

